<h1>Juego</h1>

<div *ngIf="!juegoResponse">
  <div *ngIf="errores" class="panel panel-danger">
    <div class="panel-heading">Se produjeron errores:</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let error of errores">{{error}}</li>
      </ul>
    </div>

  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><label>Logica de robot 1</label></div>
    <div class="panel-body">
      <textarea [(ngModel)]="logica1" rows="10" style="width:100%;"></textarea>
    </div>
  </div>
  <div class="well well-lg">
    <button (click)="obtenerTablero()">Enviar</button>
  </div>
</div>

<div *ngIf="juegoResponse">
  <tablero-component [juegoResponse]="juegoResponse"></tablero-component>
  <div class="well well-lg">
    <button (click)="juegoResponse=null">Borrar</button>
  </div>
</div>




