<div class="col-md-6" style="text-align:center;">
  <div style="margin: 15px; display: inline-block;">
    <div *ngFor="let fila of filas" style="width: auto;">
      <juego-fila-component [datosFila]="fila"></juego-fila-component>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default ">
    <div class="panel-heading"><label>Visor de turnos</label></div>
    <div class="panel-body">
      <input type="range" class="custom-range" id="customRange1" min="0" max="{{juegoResponse.tableros.length - 1}}" [(ngModel)]="actual" (change)="actualizarTablero()">
      <p>Valor actual: <b>{{actual}}</b></p>
    </div>
  </div>
  <div *ngIf="ganador" class="panel panel-default">
    <div class="panel-heading"><label>Ganador de la partida</label></div>
    <div class="panel-body">
      <input type="text" readonly [(ngModel)]="ganador" /><p>{{motivo}}</p>
    </div>
  </div>
</div>
